[submodule "themes/m10c"]
	path = themes/m10c
	url = https://github.com/posworkshop/hugo-theme-m10c.git
[submodule "public"]
	path = public
	url = https://github.com/posworkshop/posworkshop.github.io
	branch = master
